.sec7{
    //width: 1437px;
    width: 100.852%;
    background: #e8a86e url("https://demo.templatetrend.com/prestashop/PRS385_3/themes/PRS385_3/assets/img/testi_bg.png") no-repeat;
    background-size: cover;
    .col-12{
        width: 100%;
        color: #fff;
        p{
            width: 58%;
            font-size: 18px;
        }
        h4{
            font-size: 18px;
            font-weight: bold;
        }
    }
}