.sec5{
    height: 590.56px;
    background: url("../img/parallax1.jpeg") no-repeat;
    background-size:cover;
    background-attachment: fixed;
    h2{
        font-size: 55px;
        color: #fff;
        text-transform: capitalize;
        padding-top: 12%;
    }
    p{
        width: 65%;
        color: #fff;
        text-align: center;
        margin: 30px auto;
    }
}